// VARIABILI

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// VARIABILI CUSTOM

$hover: #b884e6;
$testo: #4e4e4e;
$titolo: #303030;
$paragrafo: #777778;
$sponsor_button_bg: #ffffff;
$sponsor_button_txt: #1a266c;
$sponsor_1: #9ea9dd;
$sponsor_2: #5e72d7;
$sponsor_3: #1a266c;
$checkmark: #4057dd;
$checkmark_checked: #4094dd;
$login: rgb(219,59,91);
$highlight: #FF385C;
$bg-footer: $login;

// team 
$team_card_bg: rgba(#8dd4c6, 0.8);

$timing        : 265ms;
$iconColor     : #ffffff;
$accent        : rgb(255, 255, 255);

