@import './variables';

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.fixed_footer{
    width: 100%;
    background: $bg-footer;
    color: $body-bg;
    padding: 30px;

    .container-fluid{
        row-gap: 15px;
       // height: 100%;

        @media screen and (max-width: 600px){
            flex-direction: column;
        }
    }


    .team, .git{
        display: flex;
        width: 180px;
        height: 50px;

    }

    .team a, .git a{
        font-size: 19px;
        letter-spacing: 1px;
        transform-style: preserve-3d;
        transition: transform .25s;   
    }

    .team a:before {
        position: absolute;
        content: "Il nostro Team";
        height: 50px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $body-bg;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .team a:after{
        position: absolute;
        font: var(--fa-font-brands);
        content: "\f08c";
        font-size: 30px;
        height: 50px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $body-bg;
        box-sizing: border-box;
        border-radius: 5px;
    }



    .git a:before {
        position: absolute;
        content: "Vai al codice";
        height: 50px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $body-bg;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .git a:after{
        position: absolute;
        font: var(--fa-font-brands);
        content: "\f09b";
        font-size: 30px;
        height: 50px;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $body-bg;
        box-sizing: border-box;
        border-radius: 5px;
    }

    span a:before{
        color: $body-bg;
        background: transparent;
        transform: rotateY(0deg) translateZ(25px);
    }

    span a:after{
        color: $login;
        background-color: $body-bg;
        transform: rotateX(90deg) translateZ(25px);
    }

    span a:hover{
        transform: translateZ(-25px) rotateX(-90deg);
    }
  }


    