@import './variables';

.login_page{
    overflow: hidden;
    height: 100vh;

    .row {
        width: 100%;    
        flex-wrap: wrap;
        padding: 0 4px;    
    }
    
    .banner{
        height: 100vh;
        width: 50%;
        @media screen and (max-width: 768px){
            display: none;
        }
    }

    .login-wrapper{
        flex-grow: 1;    

    }
    
    .login-wrapper form{
        padding: 0 20%;
    }
    
    .pass-forgot{
        color: $login !important;
    }
    
    .login-wrapper button{
        color: white;
        background-color: $login;
        border-color: $login;
        width: 160px;
    }
    
    .form-email-color:focus, .form-pass-color:focus{
        outline: none !important; 
        border-color: $login !important; 
        box-shadow: 0 0 10px $login !important;       
    }
    .column img{
        margin-top: 25px;
        padding: 0 !important;
        flex-grow: 1;
        aspect-ratio: 9/16;
        overflow: hidden;
    }
    
    .column_0{
        transform: translateY(-13%);

        @media screen and (max-width :768px){
            display: none !important;
        }
    }
    .column_6 {
        transform: translateY(-24%);

        @media screen and (max-width :768px){
            display: none !important;
        }
    }
    
}



